<body>
		<div class="jumbotron text-center">
			<h1><span class="label label-info">Yahoo Stock API </span></h1>
		</div>
 
	<div class="text-center text-muted">
		<label for="username">Account ID</label>
		<br>
		<input type="text" name="username" id="accountID" ng-model="accountID" placeholder="Insert Account ID"/>
	</div>
	
	<div class="text-center text-muted">
		<br>
		<button type="submit" id="login" ng-click="submit(accountID)">Login</button>
	</div>


	<div class="text-center text-muted">
		
	</div>
</body>
